@import "variables"
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,700')
@import url('https://fonts.googleapis.com/css?family=Notable')
html, .root
  font-size: 16px
  background-color: #000

body
  margin: 0
  padding: 0

*, button
  font-family: 'Exo', Helvetica, Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box
  
button
  border: none
  outline: none
  flex-shrink: 0
  height: 50px
  &:focus
	  outline: none
  &:hover
	  cursor: pointer


body
  margin: 0 auto
  min-width: 100vw
  background-color: $white

.page-wrapper
	width: 100vw
	max-width: 100%



section
	align-items: center

a
	text-decoration: none
	color: inherit

.flex-center
	display: flex
	align-items: center
	justify-content: center

.flex-column-center
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.fullscreen-bg 
	max-height: 100vh
	top: 0
	right: 0
	bottom: 0
	left: 0


.btn
	outline: none
	border: none
	display: block
	padding: 12px 24px
	font-size: 20px
	border-radius: 10px
	background-color: rgba(0,0,0,0.6)
	border: 2px solid #fff
	transition: all .12s ease-in-out
	&:hover
		cursor: pointer
		background-color: $medium-purple
		// color: $lightest-purple
		border: 2px solid $dark-purple


.fade-appear 
	transform: scale(.9)
 	opacity: 0.01
.fade-appear.fade-appear-active
	transform: scale(1)
	opacity: 1
	transition: all 500ms ease-out

.fade-enter
	opacity: 0
.fade-enter.fade-enter-active
	opacity: 1
	transition: all 1s linear

.fade-exit 
  opacity: 1
.fade-exit-active.fade-exit 
  opacity: 0
  transition: all 500ms ease-out
.fade-exit-done
	opacity: 0
.switch-wrapper 
  position: relative

.switch-wrapper > div 
  position: absolute

.deshrink-appear 
	transform: scale(.1)
 	opacity: 0

.deshrink-appear.deshrink-appear-active
	transform: scale(1)
	opacity: 0.9
	transition: all 300ms ease-out

.deshrink-enter
	opacity: 0

.deshrink-enter.deshrink-enter-active
	opacity: 0
	transition: all 300ms linear
.deshrink-enter-done
	opacity: 1
.deshrink-exit 
	opacity: 1
.deshrink-exit-active.deshrink-exit 
	opacity: 0
	transition: all 300ms ease-out
.deshrink-exit-done
	opacity: 0

.photo-show
	&-appear,
	&-exit
		transform-origin: center


.photo-show-appear 
	transform: scale(.1)
 	opacity: 0

.photo-show-appear.photo-show-appear-active
	transform: scale(1)
	opacity: 1
	// transition: all 300ms ease-out

.photo-show-enter
	opacity: 0

.photo-show-enter.photo-show-enter-active
	opacity: 0
	transition: all 300ms linear
.photo-show-enter-done
	opacity: 1
.photo-show-exit
	transition: all 300ms linear 
	opacity: 1
.photo-show-exit-active.photo-show-exit 
	opacity: 0
	transition: all 300ms ease-out
.photo-show-exit-done
	opacity: 0

.loading-spinner
	height: 80px
	width: 80px
	border-top: 3px solid #ffffff
	border-radius: 50%
	animation: spin 500ms linear infinite


@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)