.epic
	.hero__content
		display: flex
		align-items: center
		flex-direction: column
		justify-content: space-around
		background-color: rgba(0,0,0,0.6)
		max-width: 1440px
		color: #fff
		div.switch-wrapper > div,
		div.switch-wrapper 
			height: 100%
			width: 100%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
		h1
			font-size: 32px

			padding: 20px
		h2
			margin: 0 40px 40px 40px
			font-weight: 400
.epic__results-wrap
	display: flex
	height: 100%
	width: 100%
	padding-top: 20px
	.column
		display: flex
		flex-direction: column
	.column-left
		align-items: center
		width: 30%
		min-width: 360px
		.rc-calendar
			margin-bottom: 5vh
	.column-right
		width: 70%
@media all and(max-width: 1000px)
	.epic .hero__content h2
		margin: 0 15px 5px 15px
	.hero.fullscreen-bg.epic
		max-height: auto
		overflow-y: scroll
	.epic__results-wrap
		flex-direction: column-reverse
		justify-content: flex-end
		height: 100%
		width: 100%
		padding-top: 20px
		.column
			display: flex
			width: 100%
			height: auto
			padding: 20px
			&.shrunk
				height: 40px
		.column-left
			align-items: center
			min-width: 100%
			margin-botom: 20px
			.rc-calendar
				margin-bottom: 5vh
		.column-right