.poad-search
	color: #fff
	div.switch-wrapper > div,
	div.switch-wrapper 
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
	h1
		text-align: center
		font-size: 32px
		padding: 20px
		margin: 0
	p
		font-size: 22px
		padding: 5px 20px
		margin: 0
		align-self: flex-start

	.search-button
		margin-top: 10px
		&:hover
			color: #fff

@media all and (max-width: 1000px)
	.poad-search
		h1.main-heading
			padding: 15px 0 0 0
			font-size: 26px
			margin: 0
		p
			font-size: 18px
@media all and (max-width: 720px)
	.poad-search
		h1.main-heading
			padding: 15px 0
			font-size: 24px
		p
			font-size: 16px
@media all and (max-width: 640px)
	.poad-search
		h1.main-heading
			padding: 10px 0
			font-size: 20px
		p
			font-size: 15px