.poad
	img
		max-width: 100%
		max-height: calc(100vh - 220px)
		object-fit: contain
		transform-origin: center center
	&__info
		height: 10%
		min-height: 80px
		display: flex
		align-items: center
		.btn
			padding: 10px
	&__results-wrap
		flex-direction: column
	.image-wrapper
		max-height: 100%
		max-width: 100%
		width: 100vw
		display: flex
		align-items: center
		justify-content: center
		img
			flex: 1 1
			transform-origin: center